@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #004225, #FFCF9D);
    padding: 10px;
}

.quizapp {
    width: 100%;
    max-width: 540px;
    background: #F5F5DC;
    margin: 20px auto 20px;
    padding: 20px 30px 70px;
    border-radius: 10px;
}

.quizapp h2 {
    color: #FFB000;
    font-size: 2.1em;
    font-weight: bolder}

.quizapp h1 {
    color: #004225;
    font-size: 2.1em;
    font-weight: bolder}

.quizapp .question p {
    font-size: 1.2em;
    font-weight: bolder;
}

.quizapp .question img {
    max-height: 300px;
    align-items: center;
}

.quizapp .question {
    color: #004225;
    font-size: 20px;
    padding: 20px;
    border-top-style: double;
    border-color: #FFB000;
}

.quizapp .answer label {
    font-size: 0.9em;
}
.quizapp .answer input {
    margin: 10px;
}

.quizapp .sendanswers button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #004225;
    color: #FFCF9D;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

/*@media (max-width: 991px) {*/

/*}*/

/*@media (max-width: 600px) {*/

/*}*/


